@use "#/client/styles/var" as var;

/**==================================================**/
/** font-size                                        **/
/**==================================================**/

@layer util {

  @each $size in var.$sizes {
    .fs-#{$size} {
      font-size: var(--fs-#{$size});
      --is: var(--is-#{$size});
    }

    // .is-#{$size} {
    //   --is: var(--is-#{$size});
    // }
  }

}

/**==================================================**/
/** text                                             **/
/**==================================================**/

@layer util {

  .pt-t {
    padding-top: var(--pt-t);
  }

  .bold {
    font-weight: bold;
  }

  .align-left {
    text-align: left;
  }

  .align-center {
    text-align: center;
  }

  .align-right {
    text-align: right;
  }

}

/**==================================================**/
/** width / height                                   **/
/**==================================================**/

@layer util {

  .w-m {
    width: var(--cs-m);
  }

  .w-100 {
    width: 100%;
  }

  // .w-max100 {
  //   max-width: 100%;
  // }

  // .w-min100 {
  //   min-width: 100%;
  // }

  .h-m {
    height: var(--cs-m);
  }

  .h-100 {
    height: 100%;
  }

  // .h-max100 {
  //   max-height: 100%;
  // }

  // .h-min100 {
  //   min-height: 100%;
  // }

}

/**==================================================**/
/** margin                                           **/
/**==================================================**/

@layer util {

  // .mt-auto {
  //   margin-top: auto;
  // }

  // .mb-auto {
  //   margin-bottom: auto;
  // }

  .ml-auto {
    margin-left: auto;
  }

  .mr-auto {
    margin-right: auto;
  }

  // .mx-auto {
  //   margin-left: auto;
  //   margin-right: auto;
  // }

  // .my-auto {
  //   margin-top: auto;
  //   margin-bottom: auto;
  // }

  @each $size in var.$sizes {
    // .m-#{$size} {
    //   margin: var(--b-#{$size});
    // }

    // .mt-#{$size} {
    //   margin-top: var(--b-#{$size});
    // }

    // .mb-#{$size} {
    //   margin-bottom: var(--b-#{$size});
    // }

    // .ml-#{$size} {
    //   margin-left: var(--b-#{$size});
    // }

    // .mr-#{$size} {
    //   margin-right: var(--b-#{$size});
    // }

    // .mx-#{$size} {
    //   margin-left: var(--b-#{$size});
    //   margin-right: var(--b-#{$size});
    // }

    // .my-#{$size} {
    //   margin-top: var(--b-#{$size});
    //   margin-bottom: var(--b-#{$size});
    // }

    // .m-#{$size}-m {
    //   margin: calc(var(--b-#{$size}) * -1);
    // }

    // .mt-#{$size}-m {
    //   margin-top: calc(var(--b-#{$size}) * -1);
    // }

    // .mb-#{$size}-m {
    //   margin-bottom: calc(var(--b-#{$size}) * -1);
    // }

    // .ml-#{$size}-m {
    //   margin-left: calc(var(--b-#{$size}) * -1);
    // }

    // .mr-#{$size}-m {
    //   margin-right: calc(var(--b-#{$size}) * -1);
    // }

    // .mx-#{$size}-m {
    //   margin-left: calc(var(--b-#{$size}) * -1);
    //   margin-right: calc(var(--b-#{$size}) * -1);
    // }

    // .my-#{$size}-m {
    //   margin-top: calc(var(--b-#{$size}) * -1);
    //   margin-bottom: calc(var(--b-#{$size}) * -1);
    // }
  }

}

/**==================================================**/
/** padding                                          **/
/**==================================================**/

@layer util {

  @each $size in var.$sizes {
    .p-#{$size} {
      padding: var(--b-#{$size});
    }

    // .pt-#{$size} {
    //   padding-top: var(--b-#{$size});
    // }

    // .pb-#{$size} {
    //   padding-bottom: var(--b-#{$size});
    // }

    // .pl-#{$size} {
    //   padding-left: var(--b-#{$size});
    // }

    // .pr-#{$size} {
    //   padding-right: var(--b-#{$size});
    // }

    .px-#{$size} {
      padding-left: var(--b-#{$size});
      padding-right: var(--b-#{$size});
    }

    .py-#{$size} {
      padding-top: var(--b-#{$size});
      padding-bottom: var(--b-#{$size});
    }
  }

}

/**==================================================**/
/** radius                                           **/
/**==================================================**/

@layer util {

  .r-max {
    border-radius: 9999px;
  }

  .radius {
    border-radius: var(--radius);
  }

  $radiusSizeMap: (
    // xs: 0.5,
    s: 1,
    m: 2,
    l: 3,
    // xl: 4,
  );

  @each $size, $value in $radiusSizeMap {
    $val: calc(var(--base) * $value);

    .r-#{$size} {
      border-radius: $val;
    }

    // .rtl-#{$size} {
    //   border-top-left-radius: $val;
    // }

    // .rtr-#{$size} {
    //   border-top-right-radius: $val;
    // }

    // .rbl-#{$size} {
    //   border-bottom-left-radius: $val;
    // }

    // .rbr-#{$size} {
    //   border-bottom-right-radius: $val;
    // }

    // .rt-#{$size} {
    //   border-top-left-radius: $val;
    //   border-top-right-radius: $val;
    // }

    // .rb-#{$size} {
    //   border-bottom-left-radius: $val;
    //   border-bottom-right-radius: $val;
    // }

    // .rl-#{$size} {
    //   border-top-left-radius: $val;
    //   border-bottom-left-radius: $val;
    // }

    // .rr-#{$size} {
    //   border-top-right-radius: $val;
    //   border-bottom-right-radius: $val;
    // }
  }

}

/**==================================================**/
/** block                                            **/
/**==================================================**/

@layer base {

  // .iblock {
  //   display: inline-block;
  // }

  // .none {
  //   display: none;
  // }

}

/**==================================================**/
/** flex                                             **/
/**==================================================**/

@layer base {

  .flex {
    &:not(.row) {
      >* {
        max-width: 100%;
      }
    }

    &.row {
      >* {
        min-width: 0;
      }
    }
  }

}

@layer util {

  .flex {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    &.stretch {
      justify-content: stretch;
      align-items: stretch;
    }

    // &.top {
    //   justify-content: flex-start;
    // }

    &.middle {
      justify-content: center;
    }

    // &.bottom {
    //   justify-content: flex-end;
    // }

    // &.left {
    //   align-items: flex-start;
    // }

    &.center {
      align-items: center;
    }

    &.right {
      align-items: flex-end;
    }

    &.row {
      flex-direction: row;

      // &.top {
      //   align-items: flex-start;
      // }

      &.middle {
        align-items: center;
      }

      &.bottom {
        align-items: flex-end;
      }

      // &.left {
      //   justify-content: flex-start;
      // }

      &.center {
        justify-content: center;
      }

      &.right {
        justify-content: flex-end;
      }
    }

    &.nowrap {
      flex-wrap: nowrap;
    }
  }

  .flex-none {
    flex: none;
  }

  .flex-1 {
    flex: 1;
    min-width: 0;
    min-height: 0;
  }

  .flex-11 {
    flex: 1 1 0rem;
    min-width: 0;
    min-height: 0;
  }

  // .flex-10 {
  //   flex: 1 0 0rem;
  // }

}

/**==================================================**/
/** grid                                             **/
/**==================================================**/

@layer util {

  // .grid {
  //   box-sizing: border-box;
  //   display: grid;
  // }

  // @for $i from 1 through 6 {
  //   .grid {
  //     &.cols-#{$i} {
  //       grid-template-columns: repeat(#{$i}, 1fr);
  //     }

  //     &.rows-#{$i} {
  //       grid-template-rows: repeat(#{$i}, 1fr);
  //     }
  //   }

  //   .col-#{$i} {
  //     grid-column: span #{$i};
  //   }

  //   .row-#{$i} {
  //     grid-row: span #{$i};
  //   }
  // }

}

/**==================================================**/
/** gap                                              **/
/**==================================================**/

@layer util {

  @each $size in var.$sizes {
    .g-#{$size} {
      gap: var(--b-#{$size});
    }

    // .gr-#{$size} {
    //   row-gap: var(--b-#{$size});
    // }

    // .gc-#{$size} {
    //   column-gap: var(--b-#{$size});
    // }
  }

}

/**==================================================**/
/** elevation                                        **/
/**==================================================**/

@layer util {

  @for $i from 0 through 9 {
    .e-#{$i} {
      @if $i ==0 {
        box-shadow: none;
      }

      @else {
        box-shadow: 0 0.1rem ($i * 0.2rem) 0 var(--c-shadow);
      }
    }

    .es-#{$i} {
      @if $i ==0 {
        filter: drop-shadow(0 0 0 transparent);
      }

      @else {
        filter: drop-shadow(0 0.1rem ($i * 0.1rem) var(--c-shadow));
      }
    }
  }

}

/**==================================================**/
/** z-index                                          **/
/**==================================================**/

@layer util {

  // @for $i from 0 through 9 {
  //   .z-#{$i} {
  //     z-index: $i;
  //   }
  // }

}

/**==================================================**/
/** border                                           **/
/**==================================================**/

@layer util {

  .b-all {
    border: 0.1rem solid var(--c-border);
  }

  // .b-top {
  //   border-top: 0.1rem solid var(--c-border);
  // }

  // .b-bttom {
  //   border-bottom: 0.1rem solid var(--c-border);
  // }

  // .b-left {
  //   border-left: 0.1rem solid var(--c-border);
  // }

  // .b-right {
  //   border-right: 0.1rem solid var(--c-border);
  // }

}

/**==================================================**/
/** others                                           **/
/**==================================================**/

@layer util {

  .ov-auto {
    overflow: auto;
  }

  // .ov-visible {
  //   overflow: visible;
  // }

  // .ov-hidden {
  //   overflow: hidden;
  // }

  // .pointer {
  //   cursor: pointer;
  //   user-select: none;
  // }

}
