@use "../mixins" as mixins;

@layer base {

  .dialog,
  .dialog::backdrop {
    opacity: 0;
    transition: opacity .2s, display .2s allow-discrete, overlay .2s allow-discrete;
  }

  .dialog[open],
  .dialog[open]::backdrop {
    opacity: 1;
  }

  @starting-style {

    .dialog[open],
    .dialog[open]::backdrop {
      opacity: 0;
    }
  }

  .dialog {
    border: none;
    overflow: auto;
    filter: drop-shadow(0 0 3px var(--sdw));
    max-width: 100dvw;
    max-height: 100dvh;
    outline: none;
    position: fixed;
    overscroll-behavior: contain;
    z-index: 99999;

    &:not([data-pos="true"]) {
      inset: 0;
      margin: auto;
    }

    &[data-transparent] {
      background: transparent;
    }
  }

  @include mixins.sp {
    .dialog[data-mobile] {
      inset: 0 !important;
      margin: auto;
    }
  }

}