@layer default, base, feat;

@layer base {

  .dialog[open],
  .dialog[open]::backdrop {
    opacity: 1;
  }

  .dialog,
  .dialog::backdrop {
    opacity: 0;
    transition: opacity .2s, display .2s allow-discrete, overlay .2s allow-discrete;
  }

  @starting-style {

    .dialog[open],
    .dialog[open]::backdrop {
      opacity: 0;
    }
  }

  .dialog {
    border: none;
    background: var(--bg);
    overflow: auto;
    filter: drop-shadow(0 0 3px var(--sdw));
    max-width: 100svh;
    max-height: 100svh;

    &:not([data-pos="true"]) {
      margin: auto;
    }
  }

}