$bar1Width: 25%;
$bar2Width: 15%;

@layer base {

  .loading-bar {
    width: 100%;
    height: 5px;
    background: transparent;
    overflow: hidden;
    filter: drop-shadow(0 0 2px var(--sdw));
    position: fixed;
    top: initial;
    left: initial;

    &::before,
    &::after {
      box-sizing: border-box;
      content: "";
      position: absolute;
      height: 100%;
      border-radius: 9999px;
      animation-timing-function: ease-in-out;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      top: 0;
      background: var(--c-primary);
    }

    &::before {
      width: #{$bar1Width};
      left: -#{$bar1Width};
      animation-name: loadingBar1;
    }

    &::after {
      width: #{$bar2Width};
      left: -#{$bar2Width};
      animation-name: loadingBar2;
      animation-delay: 1.2s;
    }
  }

  @keyframes loadingBar1 {
    0% {
      left: -#{$bar1Width};
    }

    70% {
      left: #{$bar1Width + 100%};
    }

    100% {
      left: #{$bar1Width + 100%};
    }
  }

  @keyframes loadingBar2 {
    0% {
      left: -#{$bar2Width};
    }

    70% {
      left: #{$bar2Width + 100%};
    }

    100% {
      left: #{$bar2Width + 100%};
    }
  }

  .loading-dialog {
    position: relative;
    border: none;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    outline: none;
  }

}
