* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* size */
  --btn-size: 3.2rem;

  /* color */
  --bgc: #f8f8f8;
  --fgc: #171717;
  --sdw: rgba(0, 0, 0, 0.4);
  --btn-bgc: #7fbfff;
  --btn-fgc: #f8f8f8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgc: #0a0a0a;
    --fgc: #f8f8f8;
    /* --sdw: rgba(0, 0, 0, 0.4); */
    --btn-bgc: #5f9fdf;
    --btn-fgc: #f8f8f8;
  }
}

html {
  font-size: 62.5%;
  background: var(--bgc);
  color: var(--fgc);

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  &:has(dialog[open]) {
    overflow: hidden;
  }
}

body {
  font-family: "Yu Gothic", sans-serif;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: unset;
}

a {
  &[aria-disabled="true"] {
    text-decoration: none;
    color: inherit;
  }
}
